@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}


body{
background-color: #20062E;
}

.Profile > div{
  display: flex;
  justify-content: center;
}

.Profile  .Logout-button{
  background-color: transparent;
  border: 1px solid white;
  padding: 0.9rem;
  font-size: 0.9rem;
  border-radius: 6px;

  outline: none;
  color: white;
  cursor: pointer;
}

.Profile .Logout-button:hover{
  box-shadow: 0px 0px 10px 7px #7575f6;
}